{% load static %}
<section class="services-grid">
  <h2>Our Activities</h2>
  <div class="grid">
    <div class="item">
      <img src="{% static 'main/icons/digital.png' %}" alt="Digital">
      <p>Digital Marketing</p>
    </div>
    <div class="item">
      <img src="{% static 'main/icons/branding.png' %}" alt="Branding">
      <p>Branding</p>
    </div>
    <div class="item">
      <img src="{% static 'main/icons/webdesign.png' %}" alt="Web Design">
      <p>Web Design</p>
    </div>
  </div>
</section>
