{% extends "main/base.html" %}
{% block title %}About | Helious{% endblock %}

{% load static %}

{% block content %}
<div class="about-container">
  <div class="about-main">
    <h2>About Us</h2>
    <p>Welcome to HELIOS.</p>
    <p> A pioneering digital platform designed to empower children and young adults with vital health knowledge through immersive, entertaining storytelling. Our mission is to transform health literacy into an engaging journey where learning feels like an adventure.At HELIOS, we believe that understanding health shouldn’t be boring or complicated. That’s why we use captivating comic books, animations, and interactive games featuring relatable heroes and villains to explain important health concepts from common diseases to healthy habits in a way that’s fun and easy to understand.
</p>

    <blockquote>
      <strong>“Our platform is more than just stories. Using advanced artificial intelligence and machine learning, HELIOS personalizes the learning experience to each participant’s age, interests, and learning style. As users progress, they take quizzes and participate in activities tailored to their profile by helping to reinforce knowledge, shape positive attitudes, and encourage healthy behaviors.
”</strong>
    </blockquote>
    <p>HELIOS also gathers valuable insights through ongoing research, tracking how health literacy develops over time and how it influences real-life choices. This data helps educators, health professionals, and policymakers create better programs to support healthier communities worldwide.
</p>
  </div>

  <aside class="about-sidebar">
    <h3>Explore More</h3>
    <ul>
      <li><a href="#">Our Mission</a></li>
      <li><a href="#">Impact Stories</a></li>
      <li><a href="#">Advisory Board</a></li>
      <li><a href="#">Partners</a></li>
      <li><a href="#">Latest News</a></li>
    </ul>
  </aside>
</div>
{% endblock %}

