<footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <div class="footer-bottom">
  <p>Find us:</p>
  <p>
    <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
    &nbsp;&nbsp;
    <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
    &nbsp;&nbsp;
    <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
  </p>
</div>

</footer>
