{% load static %}

<header class="main-header">
  <a href="{% url 'home' %}" class="brand d-flex align-items-center">
    <img src="{% static 'images/helios-logo3.png' %}" alt="Helios Logo" style="height: 70px; margin-right: 10px;">
  </a>

  <nav>
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'contactus' %}">Contact Us</a></li>
      <li><a href="{% url 'shop' %}">Shop</a></li>
      <li><a href="#">How to Use</a></li>

      {% if user.is_authenticated %}
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li>
        <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
            {% csrf_token %}
        </form>
          <li>
          <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
        </li>

      </li>

      {% else %}
        <li><a href="{% url 'login' %}" class="login-btn">Login</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
